#HeroSection{
    background: #212529;
    color: #fff;
}
.Hero_section_Paragraph{
    font-size: 1.125rem;
    color: #fff;
    line-height: 27px;
}
.Hero_section_Heading strong{
    color: #05c26a;
    font-weight: 600;
}
#ExtraSectiontwo .Hero_section_Heading {
    color: #ffffff;
    font-weight: 600;
}

.ExtraSectionOne{
    background-image:url('../../../public/images/orangeMask.png');
    color: #212529;
}
.ExtraSectionOne input.email{
    border: unset;
    background-color: #383732;
    color: floralwhite;
    padding: 20px 15px 12px 14px;
    font-size: 13px;
    border-radius:50px;
    width: 50%;
}
.ExtraSectionOne input.email::placeholder{
    font-size: 25px;

    color: floralwhite;
}
.ExtraSectionOne input.submit{
    border: unset;
    background-color: #FFCA2C;
    color: floralwhite;
    padding: 5px ;
    font-size: 20px;
    border-radius:50px;
    width: 10%;
}
#ExtraSectiontwo{
    background-image:url('../../../public/images/blueMask.png');
    /* background-repeat: no-repeat; */
}
#ExtraSectionthree{
    background-image:url('../../../public/images/orangeMask.png');
    /* background-repeat: no-repeat; */
}

@media (min-width: 0px) and (max-width: 1400px) {
    .responsive-iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
      }
 .mobile-center{
     text-align: center;
 }
    
  }